[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
ipywidgets = "*"
nbstripout = "*"
kaggle = "*"

[packages]
evalml = "*"
woodwork = "*"
plotly = "==4.14.3"

[requires]
python_version = "3.8"
